@page
@model flight_management_system.Pages.Booking.IndexModel
@{
}
<div class="head-img">
    <img src="https://calaero.edu/wp-content/uploads/2023/08/iStock-1332501286-scaled.jpg" />
</div>
<div class="content-left">
    <div class="manage-booking">
    <a class="button-style" href="/Booking/Index">Reload List</a>
    @if (User.Identity.IsAuthenticated)
    {
        <a class="button-style" href="/Booking/Manage">Manage Booking</a>
    }
    </div>
    <div class="flight-search">
        <form method="get">            
            <div>
                <label>departure date</label>
                <input type="datetime" name="departure" value="" placeholder="YYYY-MM-DD" />
            </div>
            
            <div>
                <label>Destination</label>
                <select name="destination" value="">
                    @foreach(var item in Model.listAirport)
                    {
                        <option value="@item.Id.Trim()">@item.Name</option>
                    }                    
                </select>
            </div>
            
            <div>                
                <button type="submit" class="button-style">Search</button>
            </div>       
            
        </form>
        @if (Model.errorMessage.Length > 0)
    {
        <div id="Message" class="errorMessage">
            <p><strong>Error:</strong> @Model.errorMessage</p>
            <span class="close-btn" onclick="dismissError()">×</span>
        </div>
    }
    </div>
    
    <h2 class="color-white">List of Flights</h2>
    <table class="styled-table">
        <thead>
            <tr>                
                <th>Departure</th>
                <th>Arrival</th>
                <th>Origin</th>
                <th>Destination</th>
                <th>Aircraft</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.listFlights)
            {
                <tr>                    
                    <td>@item.Departure</td>
                    <td>@item.Arrival</td>
                    <td>@item.Origin</td>
                    <td>@item.Destination</td>
                    <td>@item.Aircraft</td>
                    <td>
                        <a class="book-btn" href="/Booking/Register?id=@item.Id">Book Flight</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>