@page
@model flight_management_system.Pages.Booking.ManageModel
@{
}
<div class="head-img">
    <img src="https://calaero.edu/wp-content/uploads/2023/08/iStock-1332501286-scaled.jpg" />
</div>
<div class="content-left">
    <div class="flight-search">
        <form id="filterForm">
            <div class="filter-inputs">
                <input type="text" id="filterInput" placeholder="Enter filter criteria">
                <div class="radios">
                    <div>
                        <input type="radio" class="column-radio" id="nameRadio" name="columnRadio" value="1" checked>
                        <label for="nameRadio">Fullname</label>
                    </div>
                    <div>
                        <input type="radio" class="column-radio" id="emailRadio" name="columnRadio" value="2" >
                        <label for="emailRadio">Email</label>
                    </div>
                    <div>
                        <input type="radio" class="column-radio" id="flightRadio" name="columnRadio" value="3" checked>
                        <label for="flightRadio">Flight</label>
                    </div>
                    <div>
                        <input type="radio" class="column-radio" id="classRadio" name="columnRadio" value="4" >
                        <label for="classRadio">Class</label>
                    </div>
                    <div>
                        <input type="radio" class="column-radio" id="tripRadio" name="columnRadio" value="5" >
                        <label for="tripRadio">Trip</label>
                    </div>
                    <div>
                        <input type="radio" class="column-radio" id="agencyRadio" name="columnRadio" value="6" >
                        <label for="agencyRadio">Agency</label>
                    </div>
                    <div>
                        <input type="radio" class="column-radio" id="dateRadio" name="columnRadio" value="7" >
                        <label for="dateRadio">Date</label>
                    </div>
                </div>                
            </div>
            
            <button type="submit" class="button-style">Filter</button>
        </form>
    </div>
    <h2 class="color-white">List of Flights</h2>
    <table id="dataTable" class="styled-table">
        <thead>
            <tr>
                <th>Flight ID</th>
                <th>FullName</th>
                <th>Email</th>
                <th>Flight</th>
                <th>Class</th>
                <th>Trip</th>
                <th>Agency</th>
                <th>Created</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody id="tableBody">
            @foreach (var item in Model.listBookings)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Fullname</td>
                    <td>@item.Email</td>
                    <td>@item.Flight</td>
                    <td>@item.FlightClass</td>
                    <td>@item.trip</td>
                    <td>@item.Agency</td>
                    <td>@item.Created_at</td>
                    <td>
                        <a class="edit-btn" href="/Booking/Edit?id=@item.Id">Edit</a>
                        <a class="delete-btn" href="/Booking/Delete?id=@item.Id" onclick="return confirm('Are you sure you want to delete this record?')">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="paginationContainer" id="paginationContainer">
        <button id="prevPageBtn">Previous</button>
        <span id="pageInfo"></span>
        <button id="nextPageBtn">Next</button>
    </div>
</div>
